<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="http://localhost:8000/accounts/register-user/" method="post">
      {% csrf_token %}
      <input
        type="text"
        name="first_name"
        id="first_name"
        placeholder="First Name"
      />
      <input
        type="text"
        name="last_name"
        id="last_name"
        placeholder="Last Name"
      />
      <input type="email" name="email" id="email" placeholder="Email" />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
      <input
        type="password"
        name="confirm_password"
        id="confirm_password"
        placeholder="Confirm Password"
      />
      <input
        type="text"
        name="refferal_code"
        id="refferal_code"
        placeholder="Refferal Code"
      />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
